.recemtDeal-container {
  /* padding: 2rem; */
  margin: 2rem auto;
  width: 90%;
}

.heading h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.recentCards {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recentCard {
  width: 32%;
  border: 1px solid rgba(128, 128, 128, 0.349);
  border-radius: 5px;
  cursor: pointer;
}

.recentCard:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.3s ease-in-out;
}

.card-contents {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-title h5 {
  font-size: 0.9rem;
  color: rgba(61, 147, 7, 0.957);
}

.fromAndPrice {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.flight-from {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flight-from-to {
  display: flex;
}

.flight-cityname {
  display: flex;
  flex-direction: column;
}

.flight-cityname h4 {
  font-size: 1.4rem;
  font-weight: 600;
}

.flight-cityname p {
  color: var(--peragraphTextColor);
  font-size: 0.9rem;
}

.flight-price {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .recentCards {
    flex-direction: column;
    gap: 20px;
  }
  .recentCard {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .heading h3 {
    font-size: 1rem;
  }
}
