.searchedFlightContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* height: 110vh; */
  /* position: absolute; */
  background: #468fd9;
  /* background-image: url("../../Assets/Images//deeplink-bg.jpg"); */
}

.searchedFlightContainer .mainImage {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}

.stepSection {
  background: var(--stepSectionBgColor);
}

.reviewAndStarSection {
  width: 100%;
}

.bothSection {
  padding: 0 1rem 2rem;
}
