.reviewSection-container {
  margin: 2rem auto;
}

.carousel-container {
  height: 40vh;
  display: flex;
}

.swiper {
  height: 100%;
}

.carousel-group {
  padding: 1.5rem;
  /* border: 1px solid rgba(128, 128, 128, 0.397); */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 5px;
  background: var(--stepSectionBgColor);
}

.upper-carousel-content {
  display: flex;
  gap: 1rem;
}

.swiper-pagination {
  top: 10%;
}

.stars {
  display: flex;
  gap: 10px;
}

.stars .star {
  /* border: 1px solid var(--btnColor); */
  background: var(--btnColor);
  border-radius: 2px;
  color: #fff;
  padding: 0px 5px;
}

.reviewerName {
  font-weight: 600;
}

.lower-carousel-content p {
  color: var(--peragraphTextColor);
}

.swiper-pagination-bullet-active {
  background: var(--btnColor) !important;
}

@media (max-width: 1000px) {
  .carousel-container {
    height: 40vh;
  }
}

