/* Popup container */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* padding: 20px; */
  /* max-width: 400px; */
  width: 45%;
  /* height: 70%; */
  z-index: 1000;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
}

/* Show popup */
.popup.show {
  opacity: 1;
}

/* Popup content */
.popup-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.image-container {
  width: 40%;
  /* height: 100%; */
}

.image-container img {
  width: 100%;
  height: 100%;
}

/* Popup title */
.popup-content h2 {
  margin-top: 0;
}

/* Close button */
.popup-close {
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
  font-size: 2rem;
  color: #666;
}

/* Close button on hover */
.popup-close:hover {
  color: #333;
}

.content-container {
  width: 60%;
}

.content-container .content {
  padding: 2rem;
  text-align: center;
}

.popup-upper-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.save-extra-heading h2 {
  line-height: 40px;
}

.save-extra-heading span {
  color: rgb(200, 3, 3);
}

.promo-code {
  display: flex;
  gap: 10px;
  align-items: center;
}

.promo-code span {
  border: 1px solid red;
  color: red;
  font-weight: 600;
  border-style: dashed;
  padding: 0.5rem 1.5rem;
}

@media (max-width: 1400px) {
  .popup {
    width: 60%;
  }
}

@media (max-width: 1100px) {
  .image-container {
    display: none;
  }

  .content-container {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .popup {
    width: 80%;
    /* height: 8/0%; */
  }
}
