.mainSection {
  width: 100%;
  margin: 4rem auto;
}

.title {
  position: relative;
  width: max-content;
  color: var(--textColor);
  margin: 1rem 0;
  z-index: 2;
  text-align: center;
}

.title::after {
  position: absolute;
  content: "";
  background: var(--SecondaryColor);
  height: 5px;
  width: 120px;
  right: 0;
  bottom: 5px;
  z-index: -1;
}

.secContent {
  display: grid;
  justify-content: center;
  gap: 1.5rem;
}

.singleDestination {
  height: 100%;
  display: grid;
  row-gap: 10px;
  border-radius: 10px;
  align-items: center;
  background: var(--cardBG);
  box-sizing: 0 2px 4px rgba(140, 140, 141, 0.549);
  overflow: hidden;
}

/* .singleDestination:hover {
  background: var(--cardHover);
  box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
  transition: 0.3s ease;
} */

.imgDiv {
  height: 180px;
  width: 100%;
  overflow: hidden;
}

.imgDiv img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 2s ease;
}

.imgDiv img:hover {
  transform: scale(1.1);
}

.cardInfo {
  padding: 1rem;
}

.destTitle {
  color: var(--blackColor);
  font-size: 1.25rem;
}

.continent {
  gap: 0.5rem;
}

.icon {
  color: var(--textColor);
  font-size: 18px;
}

.name {
  color: var(--textColor);
  font-weight: 400;
  font-size: 14px;
}

.priceSec {
  width: 100%;
  justify-content: space-between;
  /* padding: 1rem; */
  margin: 1rem 0;
  /* border-top: 1.5px solid var(--greyText); */
  /* border-bottom: 1.5px solid var(--greyText); */
}

.grade {
  color: var(--textColor);
  max-width: 100px;
  line-height: 20px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

small {
  text-align: center;
  background: var(--PrimaryColor);
  border-radius: 1rem;
  color: var(--whiteColor);
  padding: 1px 10px;
  font-size: 10px;
}

.price {
  font-size: 1.3rem;
  color: var(--blackColor);
}

.description {
  font-size: 13.5px;
  color: var(--textColor);
  font-weight: 500;
  margin-bottom: 1rem;
}

.btn {
  /* margin-top: 1rem; */
  color: var(--whiteColor);
  font-weight: 600;
  justify-content: space-between;
  gap: 0.5rem;
}

.icon {
  align-self: center;
  font-size: 18px;
}

@media screen and (min-width: 500px) {
  .title {
    font-size: 1.2rem;
  }

  .title::after {
    width: 143px !important;
  }

  .secContent {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .secContent {
    grid-template-columns: repeat(3, 1fr);
  }

  .singleDestination {
    /* height: auto; */
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 1.1rem;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 0.9rem;
  }
}
