.starSection-container {
  margin: 3rem auto 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.starReviews {
    display: flex;
    align-items: center;
}

.starReviews figure {
    margin: 0;
}

.starReviews .verticalLine {
    padding: 0 20px;
}

@media(max-width:1100px) {
    .starSection-container {
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
    }

    .starReviews {
        gap: 2rem;
    }
}

@media(max-width:450px) {

    .starReviews {
        gap: 1rem;
    }
}