.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header .container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

.nav-logo img {
  width: 10rem;
  height: 3rem;
}

.phoneNumber {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid #1c23333d; */
  border-radius: 50px;
  background: #1c23333d;
  /* width: 30rem; */
  padding: 5px;
  height: 55px;
}

.phoneNumber br {
  display: none;
}

.phoneNumber p {
  margin: 0;
  padding: 0 2rem;
  font-size: 0.9rem;
  color: #fff;
  font-weight: 500;
}

.callBtn {
  height: 45px;
  width: 200px;
  padding: 4px 0;
  border: none;
  border-radius: 50px;
  gap: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.callBtn .icon {
  font-size: 1.5rem;
}

.callBtn span {
  font-size: 1.1rem;
  font-weight: 600;
}

.onlyCallBtn {
  display: none;
}

@media (max-width: 1200px) {
  .header .container {
    padding: 0 1rem 1.5rem;
  }
}

@media (max-width: 1000px) {
  .phoneNumber p {
    padding: 0 1rem;
  }

  .callBtn {
    width: 180px;
  }

  .callBtn span {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .phoneNumber {
    background: none;
  }

  .phoneNumber p {
    padding: 0 1rem;
    text-align: end;
  }

  .phoneNumber br {
    display: block;
    text-align: left;
    background: none;
  }

  .callBtn {
    display: none;
  }

  .onlyCallBtn {
    display: block;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .onlyCallBtn .icon {
    font-size: 2rem;
    color: var(--secondaryColor);
  }
}
