* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primaryColor: #0000ee;
  --secondaryColor: #ffe03c;
  --btnColor: #0da3a1;
  --hoverColor: #148f77;
  --headingTextColor: #1a232b;
  --peragraphTextColor: #3a424a;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --stepSectionBgColor: #f5f7f9;
  --footerBgColor: #1a2633;
  --bgColor: #468fd9;

  /* Font Sizes */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
}

a {
  text-decoration: none;
  color: var(--whiteColor);
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}